@font-face
{
	font-family: opensans;
	src: url('fonts/OpenSans-Regular.ttf');
}
@font-face
{
	font-family: Bebas;
	src: url('fonts/BebasNeue_Regular.ttf');
}
@font-face
{
	font-family: Remachine;
	src: url('fonts/Remachine.ttf');
}
@font-face
{
	font-family: titi;
	src: url('fonts/TitilliumWeb-Regular.ttf');
}